name: Discord reminder to kpt

on:
  workflow_dispatch:
  schedule:
    - cron: "0 21 * * 5" # 金曜日の21:00に実行
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run on every other week
        run: |
          WEEK=$(date +"%V")
          if [ $((10#$WEEK % 2)) -eq 1 ]; then
            echo "Running on odd weeks (1st, 3rd, 5th week of a month)"
            # Define the task to be run
          else
            echo "This task will not run on even weeks (2nd, 4th week of a month)"
          fi
  remind:
    runs-on: ubuntu-latest
    steps:
      - name: Notify Discord
        run: |
          curl -H "Content-Type: application/json" \
          -X POST \
          -d '{
            "content": "ほら、今週末はKPTをやりますよ！今週のミスをポンポン投げつけて、笑いながら振り返りましょう！\rNotionのKPT表に追記すべし @everyone",
            "allowed_mentions": { "parse": ["everyone"] }
          }' \
          ${{ secrets.DISCORD_KPT_WEBHOOK_URL }}
